__pycache__/
*.py[cod]

runs/
generated_curves/

*.opm

*.db
*.sqlite
*.sqlite3

pcProxAPI-7.10.1-Windows/

.venv/
venv/
env/
.env

.vscode/
.idea/
.DS_Store
Thumbs.db

*_RawData.csv
*_Calibrated_Results.csv
OptimeltPlot-*.txt